.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #d1c4e9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #9575cd;
  color: floralwhite;
  border-radius: 0;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.navbar-dark {
  background-color: #512da8;
}

.btn-icon {
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  padding: 4px 10px;
  border: solid rgba(255, 255, 255, 0.5) 0px;
  background: rgba(255, 255, 255, 0);
}
.btn-icon:hover {
  background: #9575cd;
}

.btn-icon span:nth-child(1) {
  display: inline-block;
  margin: 5px 2px 0 0;
}

.custom-bg-primary {
  background-color: #512da8 !important;
}
.custom-bg-primary:hover,
.custom-bg-primary:focus {
  background: #9575cd !important;
}

.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
  animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}
.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ml ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}
.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ml ease-out;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
